.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.recharts-tooltip-label {
  font-size: 16px;
}
svg text {
  fill: white;
}
tspan {
  font-size: 13px;
}